<a href="https://colab.research.google.com/github/remigiuszk/machine-learning-175ic-kaminski/blob/main/zad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#importy

In [55]:
import sklearn as sk
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,StandardScaler

#deklaracja danych

In [43]:
data={
    'size':['L','M','S', 'XL', 'S', 'M', 'M', 'XL', 'L', 'M', 'L', 'S', 'S', 'M', 'XL', 'L', 'S', 'M', 'S', 'L'],
    'color':['green','yellow','yellow','black','blue','blue','orange','yellow','purple','black','grey','brown','green', 'red', 'yellow','red','black','brown','blue','white' ],
    'gender':['female','female','female','male','female','male','male','female','male','male','male','female','male','female','female','female','female','male', 'male', 'male'],
    'price':[149.0,79.0    ,111.0 ,45.0 ,21.0 ,90.0 ,180.0 ,210.0 ,333.0 ,69.0 ,85.0 ,165.0 ,120.0 ,199.0 ,231.0 ,200.0 ,399.0 ,23.0 ,16.0 ,90.0],
    'weight':[380, 800, 230, 500, 550, 440, 609, 423, 831, 351, 388, 490, 540, 390, 470, 450, 400, 500, 346, 210],
    'bought':['no','yes','yes','yes','no','no','yes','yes','no','no','yes','no','no','no','yes','yes','no','no','yes','no'] 
}

#dataframe z biblioteki pandas

In [73]:
df_raw = pd.DataFrame(data=data)
df = df_raw.copy()

for col in ['size','color','gender','bought']:
  df[col] = df[col].astype('category')

for col in['weight']:
  df[col] = df[col].astype('float')

df.info()

df.describe(include=['category']).T
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    20 non-null     category
 1   color   20 non-null     category
 2   gender  20 non-null     category
 3   price   20 non-null     float64
 4   weight  20 non-null     float64
 5   bought  20 non-null     category
dtypes: category(4), float64(2)
memory usage: 1.3 KB

   size   color  gender  price  weight bought
0     L   green  female  149.0   380.0     no
1     M  yellow  female   79.0   800.0    yes
2     S  yellow  female  111.0   230.0    yes
3    XL   black    male   45.0   500.0    yes
4     S    blue  female   21.0   550.0     no
5     M    blue    male   90.0   440.0     no
6     M  orange    male  180.0   609.0    yes
7    XL  yellow  female  210.0   423.0    yes
8     L  purple    male  333.0   831.0     no
9     M   black    male   69.0   351.0     no
10    L    grey    male   85.0   388.0    yes
11    S   brown  female  165.0   490.0     no
12    S   green    male  120.0   540.0     no
13    M     red  female  199.0   390.0     no
14   XL  yellow  female  231.0   470.0    yes
15    L     red  female  200.0   450.0    yes
16    S   black  female  399.0   400.0     no
17    M   brown    male   23.0   500.0     no
18    S    blue    male   16.0   346.0    yes
19    L   white    male   90.0   210.0     no

#przekształcanie danych typu string

In [74]:
le = LabelEncoder()
le.fit_transform(df['bought'])
le.classes_
df['bought'] = le.fit_transform(df['bought'])
df

   size   color  gender  price  weight  bought
0     L   green  female  149.0   380.0       0
1     M  yellow  female   79.0   800.0       1
2     S  yellow  female  111.0   230.0       1
3    XL   black    male   45.0   500.0       1
4     S    blue  female   21.0   550.0       0
5     M    blue    male   90.0   440.0       0
6     M  orange    male  180.0   609.0       1
7    XL  yellow  female  210.0   423.0       1
8     L  purple    male  333.0   831.0       0
9     M   black    male   69.0   351.0       0
10    L    grey    male   85.0   388.0       1
11    S   brown  female  165.0   490.0       0
12    S   green    male  120.0   540.0       0
13    M     red  female  199.0   390.0       0
14   XL  yellow  female  231.0   470.0       1
15    L     red  female  200.0   450.0       1
16    S   black  female  399.0   400.0       0
17    M   brown    male   23.0   500.0       0
18    S    blue    male   16.0   346.0       1
19    L   white    male   90.0   210.0       0

#kategoryzowanie danych wejśćiowych

In [75]:
 df = pd.get_dummies(data=df, drop_first=True)
 df

    price  weight  bought  ...  color_white  color_yellow  gender_male
0   149.0   380.0       0  ...            0             0            0
1    79.0   800.0       1  ...            0             1            0
2   111.0   230.0       1  ...            0             1            0
3    45.0   500.0       1  ...            0             0            1
4    21.0   550.0       0  ...            0             0            0
5    90.0   440.0       0  ...            0             0            1
6   180.0   609.0       1  ...            0             0            1
7   210.0   423.0       1  ...            0             1            0
8   333.0   831.0       0  ...            0             0            1
9    69.0   351.0       0  ...            0             0            1
10   85.0   388.0       1  ...            0             0            1
11  165.0   490.0       0  ...            0             0            0
12  120.0   540.0       0  ...            0             0            1
13  199.0   390.0       0  ...            0             0            0
14  231.0   470.0       1  ...            0             1            0
15  200.0   450.0       1  ...            0             0            0
16  399.0   400.0       0  ...            0             0            0
17   23.0   500.0       0  ...            0             0            1
18   16.0   346.0       1  ...            0             0            1
19   90.0   210.0       0  ...            1             0            1

[20 rows x 16 columns]

#standaryzacja wartości

In [76]:

scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

#porównanie tabel

In [80]:
print(df)
print(df_raw)

       price    weight  bought  ...  color_white  color_yellow  gender_male
0   0.083091 -0.562331       0  ...            0             0            0
1  -0.621922  2.219517       1  ...            0             1            0
2  -0.299631 -1.555848       1  ...            0             1            0
3  -0.964357  0.232483       1  ...            0             0            1
4  -1.206076  0.563655       0  ...            0             0            0
5  -0.511135 -0.164924       0  ...            0             0            1
6   0.395311  0.954439       1  ...            0             0            1
7   0.697460 -0.277522       1  ...            0             1            0
8   1.936269  2.424844       0  ...            0             0            1
9  -0.722639 -0.754411       0  ...            0             0            1
10 -0.561493 -0.509343       1  ...            0             0            1
11  0.244237  0.166249       0  ...            0             0            0
12 -0.208986  0.497421       0  ...            0             0            1
13  0.586672 -0.496096       0  ...            0             0            0
14  0.908964  0.033780       1  ...            0             1            0
15  0.596743 -0.098689       1  ...            0             0            0
16  2.600995 -0.429862       0  ...            0             0            0
17 -1.185933  0.232483       0  ...            0             0            1
18 -1.256434 -0.787528       1  ...            0             0            1
19 -0.511135 -1.688317       0  ...            1             0            1

[20 rows x 16 columns]
   size   color  gender  price  weight bought
0     L   green  female  149.0     380     no
1     M  yellow  female   79.0     800    yes
2     S  yellow  female  111.0     230    yes
3    XL   black    male   45.0     500    yes
4     S    blue  female   21.0     550     no
5     M    blue    male   90.0     440     no
6     M  orange    male  180.0     609    yes
7    XL  yellow  female  210.0     423    yes
8     L  purple    male  333.0     831     no
9     M   black    male   69.0     351     no
10    L    grey    male   85.0     388    yes
11    S   brown  female  165.0     490     no
12    S   green    male  120.0     540     no
13    M     red  female  199.0     390     no
14   XL  yellow  female  231.0     470    yes
15    L     red  female  200.0     450    yes
16    S   black  female  399.0     400     no
17    M   brown    male   23.0     500     no
18    S    blue    male   16.0     346    yes
19    L   white    male   90.0     210     no